@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
/*------------
Resset Css
------------*/
*,
::after,
::before,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    font-family: "Poppins", sans-serif;
}

.btn1 {
    width: 6.5em;
    height: 2.3em;
    margin: 0.5em;
    background: #AEDEFC;
    color: black;
    border: none;
    border-radius: 0.625em;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
   }

.button1{
    text-decoration: none;
    width: 100px; 
    margin: -20px 0 10px 0; 
    color: black;
}
   
.btn1:hover {
    color: white;
   }
   
.btn1:after {
    content: "";
    background: #427D9D;
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
   }
   
.btn1:hover:after {
    transform: skewX(-45deg) scale(1, 1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
   }

   .btn2 {
    background-color: #AEDEFC;
    padding: 14px 20px;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    border-radius: 10px;
    border: 2px dashed #AEDEFC;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .4s;
    width: 220px;
    font-size: 12px;
   }
   
   .btn2 span:last-child {
    display: none;
   }
   
   .btn2:hover {
    transition: .4s;
    border: 2px dashed #427D9D;
    background-color: #fff;
    color: #000;
   }
   
   .btn2:active {
    background-color: #87dbd0;
   }
   
   

   
/*Colors palette*/
.wrapperDetailProduct .wrapper-image-product .view-Images .slick-list {
    margin: 0 -5px;
}

.wrapperDetailProduct .wrapper-image-product .view-Images .slick-slide {
    margin: 0 5px;
}

.wrapperDetailProduct .wrapper-image-product .view-Images .images-product img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    border-radius: 15px !important;
}

.wrapperDetailProduct .wrapper-image-product .nav-images .images-nav img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    border-radius: 4px !important;
}

.wrapperDetailProduct .wrapper-image-product .nav-images .is-active img {
    border: 2px solid #1a1d20;
}

.wrapperDetailProduct .wrapper-image-product .nav-images .slick-list {
    margin: 0 -2px;
}

.wrapperDetailProduct .wrapper-image-product .nav-images .slick-slide {
    margin: 0 2px;
}

.wrapperDetailProduct .wrapper-detail-product .name-product {
    color: #535353;
    font-weight: 600;
}

.wrapperDetailProduct .wrapper-detail-product .wrapper-rating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.wrapperDetailProduct .wrapper-detail-product .wrapper-rating .data-terjual,
.wrapperDetailProduct .wrapper-detail-product .wrapper-rating .rating-product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.wrapperDetailProduct .wrapper-detail-product .wrapper-rating .data-terjual p,
.wrapperDetailProduct
    .wrapper-detail-product
    .wrapper-rating
    .rating-product
    p {
    font-weight: 300;
    color: #535353;
}

.wrapperDetailProduct
    .wrapper-detail-product
    .wrapper-rating
    .data-terjual
    .icon
    img,
.wrapperDetailProduct
    .wrapper-detail-product
    .wrapper-rating
    .rating-product
    .icon
    img {
    width: 100%;
    max-width: 18px;
    max-height: 18px;
}

.wrapperDetailProduct .wrapper-detail-product .wrapper-rating .data-terjual {
    margin-right: 12px;
}

.wrapperDetailProduct .wrapper-detail-product .wrapper-rating .data-terjual p {
    margin-right: 4px;
}

.wrapperDetailProduct
    .wrapper-detail-product
    .wrapper-rating
    .data-terjual
    span {
    font-weight: 500;
    color: #535353;
}

.wrapperDetailProduct
    .wrapper-detail-product
    .wrapper-rating
    .rating-product
    .icon {
    margin-right: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.wrapperDetailProduct
    .wrapper-detail-product
    .wrapper-rating
    .rating-product
    p {
    font-weight: 500;
}

.wrapperDetailProduct .wrapper-detail-product .price-product {
    padding: 1rem 0 1.4rem 0;
}

.wrapperDetailProduct .wrapper-detail-product .price-product p {
    color: #535353;
    font-weight: 600;
}

.wrapperDetailProduct .wrapper-detail-product .price-product p span {
    font-weight: 400;
}

.wrapperDetailProduct .wrapper-detail-product .wrapper-quantity-product p {
    color: #535353;
    font-weight: 500;
}

.wrapperDetailProduct
    .wrapper-detail-product
    .wrapper-quantity-product
    .quantity-product {
    padding: 1rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.wrapperDetailProduct
    .wrapper-detail-product
    .wrapper-quantity-product
    .quantity-product
    .quantity-count,
.wrapperDetailProduct
    .wrapper-detail-product
    .wrapper-quantity-product
    .quantity-product
    .product-quantity {
    background: transparent;
    border: none;
    display: inline-block;
    min-width: 0;
    height: 1.5rem;
    line-height: 1;
    font-size: 18px;
}

.wrapperDetailProduct
    .wrapper-detail-product
    .wrapper-quantity-product
    .quantity-product
    .quantity-count {
    padding: 0 1rem;
    color: #535353 !important;
}

.wrapperDetailProduct
    .wrapper-detail-product
    .wrapper-quantity-product
    .quantity-product
    .product-quantity {
    width: 50px;
    min-width: 0;
    color: #1a1d20;
    display: inline-block;
    text-align: center;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    border-left: 1px solid rgba(0, 0, 0, 0.25);
    border-right: 1px solid rgba(0, 0, 0, 0.25);
}

.wrapperDetailProduct
    .wrapper-detail-product
    .wrapper-quantity-product
    .quantity-product
    .product-quantity::-webkit-outer-spin-button,
.wrapperDetailProduct
    .wrapper-detail-product
    .wrapper-quantity-product
    .quantity-product
    .product-quantity::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

.wrapperDetailProduct .wrapper-detail-product .wrapper-quantity-product .info {
    font-weight: 300;
}

.wrapper-summary {
    position: relative;
}

.wrapper-summary .card h4 {
    text-align: center;
    margin-bottom: 1rem;
    color: #535353;
    position: relative;
}

.wrapper-summary .card h4::after {
    content: "";
    display: block;
    width: 25%;
    position: absolute;
    bottom: -10px;
    left: 50%;
    border-radius: 10px;
    background-color: #1a1d20;
    height: 2px;
    -webkit-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
}

.wrapper-summary .card .detail-summary {
    padding: 1rem 0;
}

.wrapper-summary .card .detail-summary .total-order,
.wrapper-summary .card .detail-summary .total-price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.wrapper-summary .card .detail-summary .total-order {
    margin-bottom: 0.5rem;
}

.wrapper-summary .card .detail-summary .total-order p {
    font-weight: 400;
}

.wrapper-summary .card .detail-summary .total-order p span {
    font-weight: 600;
}

.wrapper-summary .card .detail-summary .total-price p {
    font-weight: 400;
}

.wrapper-summary .card .detail-summary .total-price p span {
    font-weight: 600;
}

.wrapper-summary .card .button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.wrapper-summary .card .button img {
    margin-right: 0.5rem;
    width: 100%;
    height: 100%;
    max-width: 22px;
    max-height: 22px;
}

.descripsi-product p {
    font-weight: 300;
}

.descripsi-product .primary-text {
    font-weight: 600;
}

.descripsi-product .desc-section {
    padding: 1.4rem 0 0 0;
}

.descripsi-product .desc-section p {
    margin-bottom: 0.5rem;
}

.descripsi-product .desc-section .text-desc {
    line-height: 24px;
    font-weight: 300;
    margin-bottom: 0;
}

@media screen and (min-width: 0px) {
    .wrapper-summary .card {
        position: relative;
    }
    .wrapper-summary .card .detail-summary .total-order p,
    .wrapper-summary .card .detail-summary .total-price p {
        font-size: 14px;
    }
    .wrapper-summary .card .detail-summary .total-order p span,
    .wrapper-summary .card .detail-summary .total-price p span {
        font-size: 14px;
    }
    .wrapper-summary .card .button {
        font-size: 14px;
    }
    .descripsi-product {
        margin-top: 1.4rem;
    }
    .descripsi-product p {
        font-size: 14px;
    }
    .descripsi-product .desc-section p {
        font-size: 14px;
    }
}

@media screen and (max-width: 576px) {
    .wrapperDetailProduct .wrapper-detail-product .name-product {
        font-size: 20px;
    }
    .wrapperDetailProduct
        .wrapper-detail-product
        .wrapper-rating
        .data-terjual
        p,
    .wrapperDetailProduct
        .wrapper-detail-product
        .wrapper-rating
        .rating-product
        p {
        font-size: 12px;
    }
    .wrapperDetailProduct
        .wrapper-detail-product
        .wrapper-rating
        .data-terjual
        span,
    .wrapperDetailProduct
        .wrapper-detail-product
        .wrapper-rating
        .rating-product
        span {
        font-size: 12px;
    }
    .wrapperDetailProduct .wrapper-detail-product .price-product p {
        font-size: 24px;
    }
    .wrapperDetailProduct .wrapper-detail-product .price-product span {
        font-size: 14px;
    }
    .wrapperDetailProduct .wrapper-detail-product .wrapper-quantity-product p {
        font-size: 14px;
    }
    .wrapperDetailProduct
        .wrapper-detail-product
        .wrapper-quantity-product
        .info {
        font-size: 12px;
    }
}

@media screen and (max-width: 991px) {
    .wrapperDetailProduct .wrapper-detail-product .name-product {
        margin-top: 1rem;
        font-size: 24px;
    }
    .wrapperDetailProduct
        .wrapper-detail-product
        .wrapper-rating
        .data-terjual
        p,
    .wrapperDetailProduct
        .wrapper-detail-product
        .wrapper-rating
        .rating-product
        p {
        font-size: 14px;
    }
    .wrapperDetailProduct
        .wrapper-detail-product
        .wrapper-rating
        .data-terjual
        span,
    .wrapperDetailProduct
        .wrapper-detail-product
        .wrapper-rating
        .rating-product
        span {
        font-size: 14px;
    }
    .wrapperDetailProduct .wrapper-detail-product .price-product p {
        font-size: 24px;
    }
    .wrapperDetailProduct .wrapper-detail-product .price-product span {
        font-size: 14px;
    }
    .wrapperDetailProduct .wrapper-detail-product .wrapper-quantity-product p {
        font-size: 16px;
    }
    .wrapperDetailProduct
        .wrapper-detail-product
        .wrapper-quantity-product
        .info {
        font-size: 12px;
    }
    .wrapper-summary {
        margin-top: 2.5rem;
    }
}

@media screen and (min-width: 992px) {
    .wrapperDetailProduct .wrapper-detail-product .name-product {
        font-size: 24px;
    }
    .wrapperDetailProduct
        .wrapper-detail-product
        .wrapper-rating
        .data-terjual
        p,
    .wrapperDetailProduct
        .wrapper-detail-product
        .wrapper-rating
        .rating-product
        p {
        font-size: 14px;
    }
    .wrapperDetailProduct
        .wrapper-detail-product
        .wrapper-rating
        .data-terjual
        span,
    .wrapperDetailProduct
        .wrapper-detail-product
        .wrapper-rating
        .rating-product
        span {
        font-size: 14px;
    }
    .wrapperDetailProduct .wrapper-detail-product .price-product p {
        font-size: 28px;
    }
    .wrapperDetailProduct .wrapper-detail-product .price-product span {
        font-size: 14px;
    }
    .wrapperDetailProduct .wrapper-detail-product .wrapper-quantity-product p {
        font-size: 18px;
    }
    .wrapperDetailProduct
        .wrapper-detail-product
        .wrapper-quantity-product
        .info {
        font-size: 14px;
    }
    .wrapper-summary {
        height: 100%;
    }
    .wrapper-summary .card {
        padding: 1.5rem;
        position: sticky;
        top: 144px;
    }
    .wrapper-summary .card .detail-summary .total-order p,
    .wrapper-summary .card .detail-summary .total-price p {
        font-size: 16px;
    }
    .wrapper-summary .card .detail-summary .total-order p span,
    .wrapper-summary .card .detail-summary .total-price p span {
        font-size: 16px;
    }
    .descripsi-product p {
        font-size: 16px;
    }
    .descripsi-product .desc-section p {
        font-size: 16px;
    }
}
/*# sourceMappingURL=detailProduct.css.map */
